.main-nav{
    min-height: 50px;
    width: 100%;
    margin: 0% auto;
    border-top: solid 3px #ef8236;
    box-shadow: 0px 1px 5px #00000033;
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    background-color: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ul-nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.navbar{
    height: 100%;
    min-width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-logo{
    padding: 5px 25px;

}
.nav-item{
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    margin: 0px 3px;
    color: rgb(69,69,69);
    transition: 0.2s;
}

.nav-btn{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;

}
.nav-item:hover{
    background-color: rgb(226,226,226);
}

.navbar form{
    flex-grow: 1;
    padding: 0px 12px;
    position: relative;

}
.navbar form input{
    min-width: 90%;
    margin: 0;
    padding: 8px 10px 8px 32px;
    font-size: 13px;
    border: solid 1px #0000003e;
    border-radius: 3px;

}

.navbar form .search-icon{
position: absolute;
left: 25px;
top: 8px;
}

.nav-links{
    padding: 7px 13px;
    border: solid 1px blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    cursor: pointer;
}
.nav-links1{
    padding: 7px 13px;
   
    border-radius: 3px;
   
    cursor: pointer;
}

.nav-links:hover{
    background-color: #d3e4eb;
}

.mobile-menu-icon{
    display: none;
}
.centre-logout{
    display: flex;
}

@media screen and (max-width:960px) {
 .main-nav{
    display: flex;
    position: absolute;
 }   
 .nav-btn,.nav-links,.search-form,.nav-links1{
    display: none;
 }
 
.ul-nav-links{
    position: absolute;
    display: block;
    list-style: none;
    background-color: #d3e4eb;
    left: 0;
    top: 39px;
    transition: all 0.5s ease-out;
    width: 100%;
}
.nav-mobile-item{
 padding: 30px;
 text-align: center;
 width: 100%; 
 transition: all 0.5s ease-out;  
 font-size: small;
 font-weight: 1000;
 text-decoration: none;
 color: rgb(69,69,69);

}

.nav-mobile-item1{
    padding: 30px;
 transition: all 0.5s ease-out;  
 padding: 7px 13px;
 border: solid 1px blue;
 border-radius: 3px;
 background-color: #e7f8fe;
 cursor: pointer;
 margin: auto;
   }
  
.mobile-menu-icon{
    display: block;
    position: absolute;
    font-size: 30px;
    outline: none;
    border: none;
    top:12px;
    right: 20px;
}
}